<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    
    {% if description %}
    <meta name="description" content="{{ description }}">
    {% else %}
      {% if '/theo/' in page.url %}
        <meta name="description" content="{{ site.theo.description }}">
        <meta property="og:description" content="{{ site.theo.description }}" />
        <meta name="theme-color" content="#002147" />
      {% elif '/arnost/' in page.url %}
        <meta name="description" content="{{ site.arnost.description }}">
        <meta property="og:description" content="{{ site.arnost.description }}" />
        <meta name="theme-color" content="#CE2D4F" />
      {% else %}
        <meta name="description" content="Personal site of David Theodor and Arnošt Matěj Nimrichtr.">
        <meta property="og:description" content="Personal site of David Theodor Nimrichtr and Arnošt Matěj Nimrichtr." />
        <meta name="theme-color" content="#002147" />
      {% endif %}
    {% endif %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://nimrichtr.cz/assets/identity/summary.png" />
    <link rel="canonical" href="{{ url | default('https://nimrichtr.cz') }}" />
    <meta property="og:url" content="{{ url | default('https://nimrichtr.cz') }}" />
  
    <link rel="icon" href="https://nimrichtr.cz/assets/identity/favicon.ico" />
    
    {% set assetHash = global.random() %}
    
    <link rel="stylesheet" href="https://nimrichtr.cz/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />
    <style>{% include "css/base.css" %}</style>
    
    {% set pageCSS = pageCSS or [] %}

    {% for item in pageCSS %}
        <style>{% include item %}</style>
    {% endfor %}

    {% if largeCSS %}
        <link rel="stylesheet" media="print" href="{{ largeCSS }}?{{ assetHash }}" onload="this.media='all'" />
    {% endif %}
    

    <!--  Fix for compatibility of name.nimrichtr.cz and nimrichtr.cz/name  -->
    <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll("a").forEach(link => {
        let href = link.getAttribute("href");
        if (window.location.hostname === "{{site.url}}" && href.startsWith("/")) {
          link.setAttribute("href", "/{{name}}" + href);
        }
      })
    });
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>