@use '../defaults' as *;

@use '../personal-base' as *;

body {
  color: $color-arnost-primary;
  background: $color-light;
  font-family: $font-family-base;

  .content-wrapper main {
    margin-top: 10vh;

    iframe {
      display: block;
      margin: 0 auto;
      margin-top: 5rem;
    }

  }
};

a {
  color: $color-arnost-secondary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  text-align: right;
  margin-bottom: 6rem;
}

em {
  color: $color-gray;
}

hr {
  margin-top: 5rem;
  border: none;
  border-top: 2px solid $color-arnost-primary;
}