// src/scss/_defaults.scss

// Color palette
$color-theo-primary: #002147;
$color-theo-secondary: #CE2D4F;
$color-arnost-primary: #CE2D4F;
$color-arnost-secondary: #969696;
$color-light: #fff;
$color-gray: #222;


// Font settings
$font-family-base: 'Roboto Mono', 'Consolas', 'Courier New', monospace;
$font-size-base: 16px;

