// src/scss/_defaults.scss

// Color palette
$color-theo-primary: #002147;
$color-arnost-primary: #CE2D4F;
$color-light: #fff;
$color-dark: #222;

// Font settings
$font-family-base: 'Roboto Mono', 'Inter', 'Segoe UI', Arial, sans-serif;
$font-size-base: 16px;

