@use 'defaults' as *;

body {
  margin: 0;

  .content-wrapper {
    max-width: 75ch;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;


    main {
      margin-top:20vh;
      flex: 1;

      ul li {
        margin-bottom: 1rem;
        list-style-type: square;
      }
    }
  }
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.3em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 1.4rem;
  font-size: 1.1rem;
}


