@use 'reset';
@use 'defaults' as *;


html, body {
	font-family: $font-family-base;
	overflow-x: hidden;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.mobile-show {
	display: none;
}
.mobile-hide {
	display: block;
}


@media(max-width: 768px) {
	.mobile-show {
	  display: block;
	}
	.mobile-hide {
	  display: none;
	}
}




